.header-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.body-header-text2 {
  margin: 0;
  height: 69px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 56px;
  font-weight: 600;
  font-family: var(--font-roboto);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}

.body-header,
.body-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}

.body-header {
  flex: 1;
  justify-content: center;
  padding: 0 var(--padding-xl);
}

.body-header-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 34.3px;
}

.lisence-name {
  margin: 40px;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 30px;
  /* font-weight: bold; */
  font-family: var(--font-roboto);
  width: 500px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  /* font-weight: bold; */
}



.lisence-name-title {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 40px;
  letter-spacing: -0.03em;
  /* line-height: 30px; */
  font-family: var(--font-roboto);
  width: 100%;
  position: relative;
  display: flex;
  max-width: 400px;
  font-weight: bold;
  color: rgb(206, 88, 88);
  justify-content: center;
  height: auto;
}

.info_certi {
  display: flex;
  flex-direction: column;
}

.lisence-owner {
  margin: 40px;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 30px;
  /* font-weight: bold; */
  font-family: var(--font-roboto);
  width: 100%;
  position: relative;
  display: inline-block;
  max-width: 1839px;
  /* font-weight: bold; */
}

.img_certi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .link-to-transactions {
  margin: 5px;
  width: 250px;
  max-width: 100%;
} */

.share-button {
  width: 150px;
  max-width: 100%;
}

.share-button:hover {
  cursor: pointer;
}

.opensea-share-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lisence-infor {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 400;
  font-family: var(--font-roboto);
}



.upload-lisence {
  /* flex: 1; */
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-xl) 46px 35px;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
  display: flex;
  align-items: center;
}

.header-section-parent,
.lisenceview,
.upload-wrapper-lisence {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-wrapper-lisence {
  width: 2000px;
  flex-direction: row;
  padding: 0 53px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  margin-bottom: 1%;
}

.header-section-parent,
.lisenceview {
  flex-direction: column;
}

.header-section-parent {
  align-self: stretch;
  gap: var(--gap-base-7);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.lisenceview {
  width: 100%;
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  overflow: hidden;
  gap: 1052.6px;
  line-height: normal;
  letter-spacing: normal;
}

.private-key-image {
  width: 200px;
  height: auto;
  margin: 10px;

}

.private-key-image-container {
  display: flex
}

/* .share-link {
  font-size: 1rem
} */



@media screen and (max-width: 1200px) {
  .upload-wrapper-lisence {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }

  .lisenceview {
    gap: 526px;
  }
}

@media screen and (max-width: 825px) {
  .body-header-text2 {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }

  .lisenceview {
    gap: 263px;
  }
}

@media screen and (max-width: 450px) {
  .body-header-text2 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }

  .lisence-infor,
  .lisence-name {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
}