.body-header-text3 {
  margin: 0;
  height: 69px;
  width: 788px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 56px;
  font-weight: 600;
  font-family: var(--font-roboto);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}

.body-header1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}

.name1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}

.input-name {
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  min-width: 203px;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.name {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.gender1 {
  margin: 0;
  width: 228px;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}

.input-gender {
  align-self: stretch;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: black;

  font-size: 1.5rem
}

.apply-now1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.gender {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-7xl) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  min-width: 292px;
  max-width: 100%;
}

.email1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  width: 228px;
}

.input-email {
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: black;

  font-size: 1.5rem
}

.apply-now2 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.careers-section-inner,
.email,
.name-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.email {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  /* min-width: 700px; */
  min-width: 292px;
  max-width: 100%;
}

.careers-section-inner,
.name-parent {
  flex-direction: row;
}

.name-parent {
  width: 1260px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}

.careers-section-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.cccd1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  width: 228px;
}

.input-cccd {
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now3 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.cccd {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.date-of-birth1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 117px;
}

.input-date-of-birth {
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now4 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.date-of-birth {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.home-town-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 117px;
}

.input-home-town {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  padding: var(--padding-xs) 20.09999999999991px var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  min-width: 203px;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now5 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.careers-section-child,
.cccd-parent,
.home-town {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.home-town {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.careers-section-child,
.cccd-parent {
  flex-direction: row;
  justify-content: center;
}

.cccd-parent {
  width: 1262px;
  flex-wrap: wrap;
  gap: var(--gap-27xl);
}

.careers-section-child {
  align-self: stretch;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.working-unit-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
}

.input-working-unit {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now6 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.working-unit {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.name-of-vertification1 {
  margin: 0;
  width: 300px;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
}

.input-name-of-vertification {
  align-self: stretch;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now7 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.name-of-vertification {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.score-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}

.input-score {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  align-self: stretch;
  height: 44px;
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now8 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.score {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.vertification-unit-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
}

.input-vertification-unit {
  border: 0;
  outline: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  align-self: stretch;
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  min-width: 203px;
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now9 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.vertification-unit {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.date-vertification-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 121px;
}

.input-date-vertification {
  align-self: stretch;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);

  font-size: 1.5rem
}

.apply-now10 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.date-vertification {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-width: 292px;
  max-width: 100%;
}

.expired-date-text {
  margin: 0;
  width: 400px;
  height: 38px;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}

.input-expired-date {
  align-self: stretch;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl-1) var(--padding-10xs);
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  max-width: 100%;
  color: rgb(0, 0, 0);
  height: 44px;

  font-size: 1.5rem
}

.apply-now11 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.expired-date {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 292px;
  max-width: 100%;
}

.careers-section-inner1,
.working-unit-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.working-unit-parent {
  width: 1262px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 65.2px 44px;
  margin: 0;
}

.careers-section-inner1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin: 0;
}

.upload-file-text {
  margin: 0;
  width: 1102px;
  position: relative;
  font-size: var(--font-size-10xl);
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}

.input-box-background {
  height: 44px;
  width: 1113.2px;
  position: relative;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  display: none;
  max-width: 100%;
}

.input-image {
  display: flex;
  flex-direction: column;
}

.example-here {
  height: 29px;
  width: 608.8px;
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
  margin: 50px;
  padding-bottom: 40px
}

.input-upload-file {
  align-self: stretch;
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-47xl-1) var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}

.apply-now12 {
  width: 312.9px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  font-family: var(--font-roboto);
  color: var(--color-darkorange-100);
  text-align: left;
  display: inline-block;
}

.upload-container,
.upload1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.upload1 {
  width: 1279.2px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-64xl);
  gap: var(--gap-lgi);
}

.upload-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}

.submit {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: center;
  display: inline-block;
  min-width: 66px;
}

.submit-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-26xl);
  background-color: rgb(53, 169, 53);
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.submit-button:hover {
  background-color: rgb(101, 218, 101);
}

.reject-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-26xl);
  background-color: var(--color-red);
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.reject-button:hover {
  background-color: rgb(209, 76, 76);
}

.cancel {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 65px;
}

.check {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 65px;
}

.check-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-26xl-5);
  background-color: var(--color-darkorange-100);
  border-radius: var(--br-12xl);
  justify-content: flex-start;
}

.check-button:hover {
  background-color: orange;
}

.reject {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 106.5%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 65px;
}

.body-button,
.cancel-button,
.check-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cancel-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-26xl-5);
  background-color: var(--color-dimgray-300);
  border-radius: var(--br-12xl);
  justify-content: flex-start;

}

.cancel-button:hover {
  background-color: var(--color-dimgray-200);
}

.body-button {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-745xl);
  gap: var(--gap-xl);
}

.body-section1,
.careers-section {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.careers-section {
  margin: 0;
  align-items: center;
  gap: var(--gap-46xl-2);
}

.body-section1 {
  align-items: center;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

input:valid {
  border-color: initial;
}

.invalid-input {
  border: 1px solid red;
}

@media screen and (max-width: 1875px) {
  .body-button {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1400px) {

  .body-button,
  .upload1 {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }

  .body-button {
    padding-left: var(--padding-363xl);
    padding-right: var(--padding-363xl);
  }

  .careers-section {
    gap: var(--gap-14xl);
  }
}

@media screen and (max-width: 925px) {
  .body-header-text3 {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }

  .cccd-parent,
  .name-parent {
    gap: var(--gap-4xl);
  }

  .working-unit-parent {
    gap: var(--gap-3xl);
  }

  .body-button,
  .input-upload-file {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }

  .body-button {
    padding-left: var(--padding-172xl);
    padding-right: var(--padding-172xl);
  }

  .careers-section {
    gap: var(--gap-base);
  }

  .body-section1 {
    gap: var(--gap-6xl);
  }
}

@media screen and (max-width: 450px) {
  .body-header-text3 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }

  .cccd1,
  .date-of-birth1,
  .date-vertification-text,
  .email1,
  .expired-date-text,
  .gender1,
  .home-town-text,
  .name-of-vertification1,
  .name1,
  .score-text,
  .upload-file-text,
  .vertification-unit-text,
  .working-unit-text {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
}